%p#notice= notice

%p
  %b File name:
  = @picture.file_name
%p
  %b File path:
  = @picture.file_path
%p
  %b Display Path:
  = @picture.display_path

= image_tag "#{@picture.display_path}"

= link_to 'Edit', edit_picture_path(@picture)
\|
= link_to 'Back', pictures_path
